@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Lugrasimo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.container {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: red solid 40px;
    border-top: red solid 20px;
    gap: 5px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px lightgray;
}

h1 {
    background-image: linear-gradient(
     to right,
     #462523 0,
     #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    padding-top: 0px;
}

.pixel-container {
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 60vw;
    border-radius: 10px;
    box-shadow: -2.5px -2.5px 2.5px darkgray;
    padding: 6px;
}

.column {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.pixel {
    flex: 1 1 auto;
}

.active-pixel {
    position: relative;
    top: -1.5px;
    background-color: rgb(151, 151, 151);

}

.drawn-pixel {
    background-color: rgb(56, 56, 56);
}

@media screen and (min-width: 600px) {
    .pixel-container {
        width: 40vw;
        height: 40vw;
    }
}