* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

#container {
    height: 400px;
    width: 400px;
    outline: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    background-color: lime;
}

.squareDiv {
    background-color: lime;
    border: solid black 1px;
}

.hoverDiv {
    background-color: limegreen;
}

.mouseleaveDiv {
    background-color: green;
}

#clickMe {
    margin-bottom: 20px;
}