* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    height: 400px;
    width: 400px;
    outline: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}

.squareDiv {
    background-color: aqua;
    border: solid black 1px;
    height: calc(6.25%);
    width: calc(6.25%);
}
